/* Base Styles */
:root {
  --white: #ffffff;
  --gray_400: #6F6E6E;
  --gray_500: #4A4A4A;
  --black_900: #111111;
  --black_1000: #000000;

  --blue_100: #E4EFF3;
  --blue_300: #89B2BF;
  --blue_400: #86A4AA;
  --blue_600: #0E4954;
  --blue_700: #0A3138;
  --blue_800: #08252B;

  --font-main: Raleway,Arial,sans-serif;
  --font-heading: "Line Seed JP",Arial,sans-serif;


  --h1-size: 64px;
  --h2-size: 36px;
  --h3-size: 24px;
  --h4-size: 20px;
  --h5-size: 18px;
  --h6-size: 14px;

  --label-size: 18px;
  --btn-size: 18px;
  --menu-size: 18px;
  --body-size: 16px;
  --bode-small-size: 14px;
  --input-size: 14px;
  --breadcrumbs-size:16px;

  --line-14: 1.4;
  --line-135: 1.35;
  --line-12: 1.2;
  --line-15: 1.15;

  --container-1600: calc(1600px + (120px * 2))
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  
  color: var(--gray_500);
  font-family: var(--font-main);
  
  
  box-sizing: border-box;
}
.page__inner{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
main{
  flex: 1 0 auto;
}

a {
  color: inherit;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Line Seed JP";
  src: url("../fonts/LINESeedJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.btn {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  padding: 0 32px;
  border-radius: 100px;
  text-decoration: none;
  font-family: inherit;
  background-color: transparent;
  font-size: var(--btn-size);
  line-height: var(--line-135);
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease, color 0.2s ease, outline 0.2s ease;
}
.btn:disabled{
  cursor: not-allowed;
}
.btn--icon{
  padding: 0 16px;
}
.btn--icon,
.btn--primary{
  color: var(--white);
  background-color: var(--blue_600);
}
.btn--icon:not(:disabled):hover,
.btn--primary:not(:disabled):hover{
  background-color: var(--blue_700);
}
.btn--icon:not(:disabled):focus-visible,
.btn--primary:not(:disabled):focus-visible{
  outline: 3px solid var(--blue_300);
  outline-offset: 0;
}
.btn--icon:not(:disabled):active,
.btn--primary:not(:disabled):active{
  background-color: var(--blue_800);
  color: var(--white);
}
.btn.btn--icon:disabled,
.btn.btn--primary:disabled{
  background-color: var(--gray_400) !important;
  color: var(--white) !important;
}

@property --color-start {
  syntax: '<color>';
  initial-value: #E4EFF3;
  inherits: false;
}

@property --color-end {
  syntax: '<color>';
  initial-value: #E4EFF3;
  inherits: false;
}
.btn--secondary {
  background: radial-gradient( var(--color-start), var(--color-end));
  box-shadow: inset 0 0 0 1px var(--blue_600);
  color: var(--blue_600);
  transition: --color-start 0.2s ease, --color-end 0.2s ease;
}

.btn--secondary:not(:disabled):hover {
  --color-start: #E4EFF3;
  --color-end: #89B2BF;
  box-shadow: inset 0 0 0 1px var(--blue_700);
}

.btn--secondary:not(:disabled):focus-visible{
  box-shadow: inset 0 0 0 1px var(--blue_700);
  outline: 3px solid var(--blue_700);
  color: var(--blue_700);
  outline-offset: 0;
}
.btn--secondary:not(:disabled):active{
  --color-start: #08252B;
  --color-end: #08252B;
  color: var(--white);
}
.btn.btn--secondary:disabled{
  --color-start: #E4EFF3;
  --color-end: #E4EFF3;
  box-shadow: inset 0 0 0 1px var(--gray_400) !important;
  color: var(--gray_500) !important;
}


a {
  transition: color 0.2s ease;
  text-decoration: underline dotted;
}
a:hover {
  color: var(--blue_600);
}
h1,
h2,
.h1,
.h2{
  margin: 0 0 16px;
  color: var(--blue_600);
  line-height: var(--line-12);
  font-weight: 600;
}

h3,
h4,
.h3,
.h4 {
  margin: 0 0 16px;
  color: var(--blue_600);
  line-height: var(--line-14);
  font-weight: 600;
}
h5,
h6,
.h5,
.h6{
  margin: 0 0 8px;
  color: var(--blue_600);
  line-height: var(--line-14);
  font-weight: 600;
}

h1, .h1 {
  font-size: var(--h1-size);
}
h2, .h2 {
  font-size: var(--h2-size);
}
h3, .h3 {
  font-size: var(--h3-size);
}
h4, .h4 {
  font-size: var(--h4-size);
}
h5, .h5 {
  font-size: var(--h5-size);
}
h6, .h6 {
  font-size: var(--h6-size);
}

p:not(:last-child), .custom-table:not(:last-child), .quote-card:not(:last-child) {
  margin: 0 0 12px;
}
p:last-child{
  margin: 0 !important;
}
p, ul:not(.not-style) li, a, .a-link, th{
  font-size: var(--body-size);
  line-height: var(--line-14);
  font-weight: 400;
}
p > strong,
p > b{
  font-weight: 600;
}

ul:not(.not-style),
ol:not(.not-style) {
  margin: 0;
  padding: 0;
}
ul:not(.not-style):not(:last-child),
ol:not(.not-style):not(:last-child) {
  margin-bottom: 12px;
}
ul.not-style,
ul.not-style li,
ol.not-style,
ol.not-style li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul:not(.not-style) li,
ol:not(.not-style) li {
  margin-left: 21px;
}
ul:not(.not-style) li:not(:last-child),
ol:not(.not-style) li:not(:last-child) {
  margin-bottom: 8px;
}

ul:not(.not-style) li::marker {
  font-size: 10px;
}
a.not-style{
  text-decoration: none;
  display: block;
  line-height: 0;
}
address.not-style{
  font-style: normal;
}
p small{
  font-size: var(--bode-small-size);
}

.custom-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0;
  border-radius: 24px;
  overflow: hidden;
  color: var(--blue_700);
  text-align: center;
  background-color: var(--white);
}

.custom-table th,
.custom-table td {
  padding: 16px;
  margin: 0;
}

.custom-table thead th {
  background-color: var(--blue_100);
}

.custom-table th:not(:last-child),
.custom-table td:not(:last-child) {
  border-right: 1px solid var(--blue_100);
}

.quote-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 40px;
  background-color: var(--blue_100);
  margin: 0;
  box-sizing: border-box;
}
.quote-card__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quote-icon {
  fill: var(--blue_700);
  flex-shrink: 0;
}
.quote-icon--start {
  align-self: flex-start;
}
.quote-icon--end {
  align-self: flex-end;
  transform: rotate(180deg);
}
.quote-card__content {
  margin: 0;
}
.quote-card__content p {
  margin: 0;
  color: var(--blue_700);
}
.quote-card__author {
  color: var(--gray_500);
}

.page-header__wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 120px;
  z-index: 10;
  transition: transform 0.3s ease;
}

/* For the script, hiding header */
.page-header__wrapper.is-hidden {
  transform: translateY(-100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #89B2BF 100%);
  border-radius: 50px;
  padding: 24px;
  width: 100%;
  margin: 16px auto 0;
  z-index: 10;
  max-width: 1600px;
  position: relative;
}

.logo {
  font-size: 40px;
  font-weight: 400;
  line-height: var(--line-14);
  font-family: var(--font-heading);
  color: var(--blue_600);
  text-decoration: none;
}

.nav a:not(.btn) {
  text-decoration: none;
  color: var(--blue_600);
  font-weight: 500;
  font-size: var(--menu-size);
  line-height: var(--line-14);
  transition: color 0.2s ease;
  padding: 16px;
}
.nav.nav--desktop ul {
  display: flex;
  gap: 16px;
}
.nav.nav--mobile ul {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav ul.not-style li{
  display: flex;
  justify-content: center;
}
.nav.nav--mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top:0;
  z-index: 9;
  margin: calc(16px + 52px) 32px 0 0;
  background-color: var(--blue_100);
  border-radius: 0 20px 24px 24px;
  width: 288px;
  padding: 0px 16px 16px;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
.nav.nav--mobile.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  border-radius: 0 10px 24px 24px;
}
.nav a:not(.btn):hover {
    color: var(--blue_700);
}
.burger {
  display: none;
}

footer{
  flex-shrink: 0;
}
.page-footer__wrapper{
  padding: 24px 0 16px;
  background: linear-gradient(180deg, #FFFFFF 0%, #89B2BF 100%);
}
.footer{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer div:nth-child(2) > p{
  text-align: center;
  color: var(--black_900);
}
.footer__links{
  display: flex;
  justify-content: space-between;
}
.footer__link{
  display: flex;
  gap: 8px;
  padding: 16px 0;
}
.footer__social-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links ul{
  display: flex;
  gap: 12px;
}
.social-links__item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__legal{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer__legal a{
  padding: 16px 0;
  color: var(--blue_600);
  text-decoration: none;
}

.page-footer__wrapper a:focus-visible {
  outline: 3px solid var(--blue_600);
  outline-offset: 4px;
  border-radius: 4px;
}

.page-footer__wrapper a:focus:not(:focus-visible) {
  outline: none;
}

.section {
  margin: 120px 0;
}
.section:first-child {
  margin-top: 0;
}
.section:last-child {
  margin-bottom: 0;
}

.container{
  padding: 0 120px;
  margin: 0 auto;
  max-width: var(--container-1600);
}

.hero {
  /* min-height: 900px; */
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -114px;
  position: relative;
  padding-top: 168px;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("../images/hero-2.png");
}
.hero::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  content: "";
  background: linear-gradient(95.049deg, #333 0%, rgba(255, 255, 255, 0%) 100%);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: var(--container-1600);
  width: 100%;
  margin: auto;
  padding: 0 120px;
}

.hero img {
  max-width: 33.33%;
  width: 100%;
}

.hero h1 {
  font-family: var(--font-heading);
  font-size: 80px;
  font-weight: 400;
  line-height: var(--hero-14);
  margin: 80px 0 8px;
}

.hero h1 ~ span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 0 0 16px;
  font-size: 36px;
  line-height: var(--line-14);
  color: var(--blue_700);
  font-weight: 100;
}
.hero em{
  font-style: italic;
  background-color: var(--blue_400);
  border-radius: 100px;
  display: flex;
  justify-self: start;
  color: var(--white);
  padding: 16px;
  font-weight: 400;
}
.hero .btn{
  margin-top: 40px;
}
@media (max-width: 1439px) {
  :root {
    --container-1600: calc(1600px + (32px * 2))
  }
  .page-header__wrapper,
  .hero__content,
  .container{
    padding: 0 32px;
  }
  .hero {
    background-position: top right 40%;
  }
  .hero img{
    max-width: 58.33%;
  }
}
@media (max-width: 1200px) {
  .nav--desktop {
    display: none;
  }
  .nav.nav--mobile {
    display: flex;
  }

  .burger {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    width: calc(24px + (32px * 2));
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .burger span {
    display: block;
    width: calc(100% - 6px);
    height: 2px;
    background-color: var(--white);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 100px;
  }
  .burger.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .footer__links{
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  :root {
    --h1-size: 32px;
    --h2-size: 26px;
    --h3-size: 22px;
    --h4-size: 18px;
    --h5-size: 16px;

    --body-size: 14px;
    --breadcrumbs-size:14px;

    --container-1600: calc(1600px + (16px * 2))
  }

  h2,
  .h2 {
    line-height: var(--line-15);
  }

  .page-header__wrapper,
  .hero__content,
  .container{
    padding: 0 16px;
  }
  .header {
    padding: 12px 16px;
    background: radial-gradient(#E4EFF3,#89B2BF);
  }
  .logo {
    font-size: 20px;
  }
  .nav.nav--mobile ul {
    margin-top: 40px;
  }
  .nav.nav--mobile {
    margin: calc(16px + 40px) 16px 0 0;
  }
  .footer__social-links{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
  }
  .social-links__item:first-child{
    width: calc(48px - 12px);
    justify-content: start;
  }

  .hero {
    background-position: top right 30%;
    background: linear-gradient(95.049deg, #FFFFFF 0%, rgba(255, 255, 255, 0%) 100%);
    padding-top: 144px;
  }
  .hero h1{
    font-size: 36px;
  }
  .hero img{
    max-width: 100%;

  }
}

@media (max-width: 390px) {
  .footer__legal{
    flex-direction: column;
    gap: 8px;
  }
}